.about {
  padding: 40px;
font-family: 'Courier New', Courier, monospace;
}

.my-element {
  margin-bottom: 30px;
 font-family: 'Courier New', Courier, monospace;
}



@media (max-width: 768px) {
  .about {
    padding: 20px;
  }
  
  .my-element {
    font-size: 18px;
  }
  
  .look {
    font-size: 20px;
  }
}



/*
.about-ppp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    font-size: 20.5px;
  
    box-shadow: 10 12px 16px rgba(10, 10, 10, 10.1);
    border-radius: 1px;
    padding: 3px;
    
  }
  h2{
  color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  /* Select the element with the class "my-element" */
.my-element {
  /* Set the background color to blue */
  background-color:teal;
  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  /* Set the text color to white */
  

  /* Set the font size to 16 pixels */
  font-size: 16px;

  /* Add some padding */
  padding: 10px;

  /* Add a border with 1 pixel width, solid style, and red color */
  border: 1px solid black;

  /* Add some margin */
  margin: 10px;
}

  